</div> <!--/.inner-->
      <footer>


<div class=" inner footer-container">
    <hr>       
    <div class="row-fluid Footer">

	<div class="span3 first">
        Want to improve <a href="https://github.com/amahi/amahi-net" target="_blank">this site</a>?
    </div>

    <div class="span6 hidden-phone">
        <ul class="centered nav nav-pills">              
        <li><a href="http://www.amahi.org/">Amahi</a></li>
            <li><a href="http://wiki.amahi.org/">Wiki</a></li>
            <li><a href="http://blog.amahi.org/">Blog</a></li>
            <li><a href="http://forums.amahi.org/">Forums</a></li>
            <li><a href="http://bugs.amahi.org/">Bug Tracker</a></li>
        </ul>
    </div>

    <div class="span6 visible-phone">
        <ul class="nav nav-pills nav-stacked ">             
        <li><a href="http://www.amahi.org/">Amahi</a></li>
            <li><a href="http://wiki.amahi.org/">Wiki</a></li>
            <li><a href="http://blog.amahi.org/">Blog</a></li>
            <li><a href="http://forums.amahi.org/">Forums</a></li>
            <li><a href="http://bugs.amahi.org/">Bug Tracker</a></li>
        </ul>
    </div>


    <div class="span3 last">
        Copyright &copy; 2009-2013
    </div>

    </div> <!--.row-fluid -->

</div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap-transition.js"></script>
    <script src="static/js/bootstrap-alert.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/bootstrap-scrollspy.js"></script>
    <script src="static/js/bootstrap-tab.js"></script>
    <script src="static/js/bootstrap-tooltip.js"></script>
    <script src="static/js/bootstrap-popover.js"></script>
    <script src="static/js/bootstrap-button.js"></script>
    <script src="static/js/bootstrap-collapse.js"></script>
    <script src="static/js/bootstrap-carousel.js"></script>
    <script src="static/js/bootstrap-typeahead.js"></script>
    <script src="static/js/am-net-popover.js"></script>
    <script src="static/js/troubleshooter-select.js"></script>
    <script src="static/js/AINT.js"></script>

  </body>
</html>
