</div> <!--/.inner-->
      <footer>


<div class=" inner footer-container">
    <hr>       
    <div class="row-fluid Footer">

	<div class="span3 first copyright">
	&copy; {{ site.time | date: "%Y" }} Amahi
	[ <a href="https://github.com/amahi/amahi-net" target="_blank">feedback</a> ]
    </div>

    <div class="span9 hidden-phone">
        <ul class="pull-right nav nav-pills">              
            <li><a href="http://www.amahi.org/">Home</a></li>
            <li><a href="http://docs.amahi.org/">Instructions</a></li>
            <li><a href="http://wiki.amahi.org/">Wiki</a></li>
            <li><a href="http://blog.amahi.org/">Blog</a></li>
            <li><a href="http://forums.amahi.org/">Forums</a></li>
            <li><a href="http://bugs.amahi.org/">Bug Tracker</a></li>
        </ul>
    </div>

    <div class="span6 visible-phone">
        <ul class="nav nav-pills nav-stacked ">             
            <li><a href="http://www.amahi.org/">Home</a></li>
            <li><a href="http://docs.amahi.org/">Instructions</a></li>
            <li><a href="http://wiki.amahi.org/">Wiki</a></li>
            <li><a href="http://blog.amahi.org/">Blog</a></li>
            <li><a href="http://forums.amahi.org/">Forums</a></li>
            <li><a href="http://bugs.amahi.org/">Bug Tracker</a></li>
        </ul>
    </div>

    </div> <!--.row-fluid -->

</div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap-transition.js"></script>
    <script src="static/js/bootstrap-alert.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/bootstrap-scrollspy.js"></script>
    <script src="static/js/bootstrap-tab.js"></script>
    <script src="static/js/bootstrap-tooltip.js"></script>
    <script src="static/js/bootstrap-popover.js"></script>
    <script src="static/js/bootstrap-button.js"></script>
    <script src="static/js/bootstrap-collapse.js"></script>
    <script src="static/js/bootstrap-carousel.js"></script>
    <script src="static/js/bootstrap-typeahead.js"></script>
    <script src="static/js/am-net-popover.js"></script>
    
    <script src="static/js/troubleshoot_select.js"></script>
    <script src="static/js/AINT.js"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2105009-6']);
  _gaq.push(['_setDomainName', 'amahi.net']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
  </body>
</html>
