<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Al Jachimiak">

    <!-- Le styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>

    <style type="text/css">
      body {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">

    <link href="static/css/style.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="static/images/icons/favicon.png">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid inner">
          <!--<a class="btn btn-navbar" data-toggle="collap" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a> -->
          <!-- <a class="brand" href="#">Project name</a> -->
	  <a class="logo" href="/"><img style="height: 38px;"src="static/images/amahi-logo-btstrp-size.png"></a>
          <div class="pull-right">
            <ul class="nav">
      {% assign pages_list = site.pages %}
      {% assign group = 'navigation' %}
      {% include pages_list %} 
              <li><a  href="#" id="AINT" rel="popover" data-html="true" data-placement="bottom" data-content="<p>Hoping this will be a modal.  Inside the modal will be html and JS that will direct user to the correct troubleshooter: Ubuntu vs. Fedora and Interavtive vs. print.</p>" title="AINT setup HTML Here">Interactive Troubleshooter</a>
              </li>

            </ul>

            </div>
          </div><!--/.pull-right -->
        </div><!--/container-fluid -->
      </div><!--/navbar-inner -->
    </div><!--/navbar -->

     <!-- <div class="row-fluid">
	<div id="site-title"><h1>Amahi.net</h1></div>
     </div> -->

    
