<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
	<p class="acdn-p"><a STYLE="text-decoration: none" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Where is my Dashboard?</a></p>
    </div>
   <div id="collapseOne" class="accordion-body collapse in">
    <div class="accordion-inner">
	<p>After installing Amahi, you can reach your dashboard from any browser inside your network by typing <code>hda</code> into the URL bar.</p>
	<p>The web page you are currently viewing is not on your Amahi HDA.  This page is on the internet.  Head over to the <a href="/troubleshooting.html">troubleshooting</a> page to learn how to make the adjustments needed in your network so you can access your HDA dashboard.
</p>
    </div>
   </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
	<p class="acdn-p"><a STYLE="text-decoration: none" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
How did I get here?
	</a></p>
    </div>
   <div id="collapseTwo" class="accordion-body collapse">
    <div class="accordion-inner">
	<p>Your Amahi HDA is configured to handle DNS within your network.  However, if another device (usually your router) is handling DNS and DHCP your HDA will not work as advertised.</p>
	<p>To ensure that the client(s) use your HDA for DNS, the simplest way is to disable DHCP in your network and reboot your clients. This will allow your HDA to be the sole DHCP server in it and everything should “just work.”</p>
	<p> If you continue having networking issues, try the <a href="http://wiki.amahi.org/index.php/Network_troubleshooting">Interactive Network Troubleshooter</a>.</p>
    </div>
   </div> <!-- /collapseTwo -->
  </div> <!-- /accordian group -->
  <div class="accordion-group">
    <div class="accordion-heading">
	<p class="acdn-p"><a STYLE="text-decoration: none" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
I haven't installed anything.
	</a> </p>
    </div>
   <div id="collapseThree" class="accordion-body collapse">
    <div class="accordion-inner">
	<p>Looking for more information? Head over to <a href="amahi.org">Amahi.org</a> and learn how to install your own powerful, simple, home server.</p>
    </div>
   </div> <!--/collapseThree -->
  </div> <!--/accordian group -->
</div> 
