</div> <!--/.inner-->
      <footer>


<div class=" ts-inner footer-container">
    <hr>       
    <div class="row-fluid Footer">

  <div class="span3 first copyright">
    &copy; {{ site.time | date: "%Y" }} Amahi
    [ <a href="https://github.com/amahi/amahi-net" target="_blank">feedback</a> ]
    </div>

    <div class="span9 hidden-phone">
        <ul class="pull-right nav nav-pills">              
        <li><a href="http://www.amahi.org/">Amahi</a></li>
            <li><a href="http://wiki.amahi.org/">Wiki</a></li>
            <li><a href="http://blog.amahi.org/">Blog</a></li>
            <li><a href="http://forums.amahi.org/">Forums</a></li>
            <li><a href="http://bugs.amahi.org/">Bug Tracker</a></li>
        </ul>
    </div>

    <div class="span6 visible-phone">
        <ul class="nav nav-pills nav-stacked ">             
        <li><a href="http://www.amahi.org/">Amahi</a></li>
            <li><a href="http://wiki.amahi.org/">Wiki</a></li>
            <li><a href="http://blog.amahi.org/">Blog</a></li>
            <li><a href="http://forums.amahi.org/">Forums</a></li>
            <li><a href="http://bugs.amahi.org/">Bug Tracker</a></li>
        </ul>
    </div>

    </div> <!--.row-fluid -->

</div><!--/.fluid-container-->

<div id="confirmChange" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" onclick="GetState(SetButtonState)" data-dismiss="modal">Cancel</a>
    <a href="#" id="go-btn" class="btn btn-primary">Go!</a>
  </div>
</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/bootstrap-transition.js"></script>
    <script src="static/js/bootstrap-alert.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/bootstrap-scrollspy.js"></script>
    <script src="static/js/bootstrap-tab.js"></script>
    <script src="static/js/bootstrap-tooltip.js"></script>
    <script src="static/js/bootstrap-popover.js"></script>
    <script src="static/js/bootstrap-button.js"></script>
    <script src="static/js/bootstrap-collapse.js"></script>
    <script src="static/js/bootstrap-carousel.js"></script>
    <script src="static/js/bootstrap-typeahead.js"></script>
    <script src="static/js/am-net-popover.js"></script>
    <script src="static/js/AINT.js"></script>

  </body>
</html>
