<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Al Jachimiak">

    <!-- Le styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

<!--    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'> -->

    <style type="text/css">
      body {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
        }
      .inner {
        max-width: 1200px !important;
      }
    </style>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">

    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/font-awesome.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="static/images/icons/favicon.png">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid inner">
          <!--<a class="btn btn-navbar" data-toggle="collap" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a> -->
          <!-- <a class="brand" href="#">Project name</a> -->
	  <a class="logo" href="/"><img style="height: 38px;"src="static/images/amahi-logo-btstrp-size.png"></a>
          <div class="pull-right">
            <ul class="nav">
      {% assign pages_list = site.pages %}
      {% assign group = 'navigation' %}
      {% include pages_list %} 
              <li><a  href="#" id="modalTrigger" data-target="#aintModal" role="button" data-toggle="modal" title="Start the Interactive Troubleshooter">Interactive Troubleshooter</a>
              </li>

            </ul>

            </div>
          </div><!--/.pull-right -->
        </div><!--/container-fluid -->
      </div><!--/navbar-inner -->
    </div><!--/navbar -->

    <div class="modal fade hide" id="aintModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Interactive Troubleshooter</h3>
      </div>
      <div class="modal-body">
        <p id="on-off-line">You will need internet access for the Interactive Troubleshooter, but we have a print version if you need it.  Which would you like?</p>
        <div class="row-fluid">
          <div class="span2" > </div>
          <div class="span3" >
            <a class="btn btn-success centered" id="interactive-btn"  style="width:80%"><i class='icon-signal'></i> Interactive</a>
          </div>
          <div class="span2" > </div>
          <div class="span3" >
             <a class="btn btn-inverse centered" id="print-btn" style="width:80%"><i class='icon-file'></i> Print</a>
          </div>
          <div class="span2" > </div>
          </div>
          <br>
          <br>
          <p id="distro">Amahi supports both Ubuntu and Fedora.  Which Distro is on your HDA?</p>
          <div class="row-fluid">
            <div class="span2" > </div>
            <div class="span3" >
              <div id="ubuntu-btn" class = "centered">
                <img class="img-circle img-inter" src="static/img/Ubuntu-140.png" />
              
              <div class="" id="ubuntu-btn">
                <a class="" href="#" ><h2>Ubuntu</h2></a>
              </div>
            </div>
            </div>
            <div class="span2" > </div>
            <div class="span3" >
            <div id="fedora-btn" class = "centered">
                <img class="img-circle img-inter" src="static/img/Fedora-140-trans.png" />
             
              <div class="" id="fedora-btn">
                <a class="" href="#" ><h2>Fedora</h2></a>
              </div>
            </div>
            </div>
            <div class="span2" > </div>
          </div>

        </div>
          <div class="modal-footer">
            <div class = "" id="selected-method" style="display:none">
              <h4><em> Great! Now choose a distro.</em></h4>
            </div>
            <div class = "" id="selected-distro" style="display:none">
              <h4><em> Great! Do you want the interactive version or the print version?</em></h4>
            </div>
            <div class = "" id="ready">
            </div>
            <div class="row-fluid">
              <div id ="go-btn" style="display:none" >
                <a id="go-btn-a" href="#" class="span3 offset9 btn btn-success pull-right" >Let's Get Started!</a>
              </div>
          </div>
          </div>
    </div>

    
