/*-----------------------------
-----------style.css-----------
---------for Amahi.net---------
-------------------------------
---by Al Jachimiak @M3nt_al ---
------------------------------*/

/*------------------------------------------------------
-- Colors from the Amahi logo
------------------------------------------------------*/
/*---colors---
.color1 { color: #000000} black
.color2 { color: #f6d90e} yellow
.color3 { color: #00a5e5} blue
.color4 { color: #ffffff} white
.color5 { color: #fde059} pale yellow
.color6 { color: #01a6e6} maroon
.color7 { color: #ec5a56} salmon
.color8 { color: #682960} purple
.color9 { color: #fefefe} grey
.color10 { color: #ac1420} brown
*/

/*------------------------------------------------------
-- Fonts
------------------------------------------------------*/
/*     font-family: 'Open Sans', sans-serif;

*/

.centered {
	margin-right: auto !important;
	margin-left: auto !important;
	width: 77.7%;
	text-align: center;
}

.text-error {
	color: #B94A48 !important;
}

.text-info {
	color:blue;
}

/*------------------------------------------------------
-- Navbar
------------------------------------------------------*/
@media (max-width: 979px){
	.navbar-static-top {
	    margin-bottom: 0px;
	}
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.inner {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.ts-inner {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

/*------------------------------------------------------
-- Content
------------------------------------------------------*/
#site-title{
    margin-top: 30px;
}

.pop-link {
	color: #333;
}

.pop-link:hover {
	color: #000;
}

@media (max-width: 767px) { 

	.logo{
	    margin-left: 20px;
	}

}

.lowered {
	margin-top: 22px !important;
    padding-top: 70px !important;
}


.hero-unit {
  padding: 0px 30px 30px 30px;
  margin-top: -10px;
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;

}

/*------------------------------------------------------
-- Images
------------------------------------------------------*/
.img-inter:hover {
	background-color: rgba(0,0,0,.2)
}

.img-inter:active{
	background-color: rgba(0,0,0, .8)
}

/*------------------------------------------------------
-- Sidebar
------------------------------------------------------*/

.active{
    color: #fff !important;
    background-color: #00a5e5;
}

.btn-success {
	width: 70%;
}

.nav.nav-pills > li > a:hover {
    background-color:#007FFF !important;
    color: #fff !important;
}




/*------------------------------------------------------
-- Footer
------------------------------------------------------*/

footer {
    color: #aaa;
    margin-right: auto;
    margin-left: auto;
}

footer > .nav > li > a {
    background-color:#f3f3f3 !important;
    color: #444 !important;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	#foot-nav li{
	list-style-type: none !important;
	display: block !important;
	margin:0;
	padding:.5em;
	}

	.first {
	text-align: left;
	}

	.last {
	text-align: left;
	}

    .nav-pills > li > a {
		padding-top: 16px!important;

		padding-bottom: 16px!important;
	}

	ul.nav.nav-pills li{
	display: block !important;
	font-size: 1.6em;
	text-align: left;
	margin-bottom: 10px;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px){

	#foot-nav li{
	list-style-type: none !important;
	display: inline !important;
	margin:0;
	padding:.5em;
	}


	ul.nav.nav-pills li{
	position: relative;
	top: 5px;
	}



	.first {
	text-align: left;
	padding: 8px 0 8px 0;
	margin: 2px 0 2px 0;
	}

	.last {
	float: right;
	padding: 8px 0 8px 0;
	margin: 2px 0 2px 0;
	text-align: right;
	}

}

/*---------------------------------------------
--- Popover Styles
----------------------------------------------*/
.popover-dismiss {
	margin-top: -20px;
	margin-right: -15px;
}
.popover-title {
	padding: 0 0 !important;
}

.italic {
	font-style: italic;
}
/*---------------------------------------------
--- AINT Styles
----------------------------------------------*/

button.btn, input[type="submit"].btn {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

textarea,
input[type="text"], {
	border-bottom-color: #C8c8c8 !important;
	border-top-color: #C8c8c8 !important;
	border-left-color: #C8c8c8 !important;
	border-right-color: #C8c8c8 !important;
}

pre {
    font-family: 'Ubuntu Mono', monospace; 
    font-size: 1em;
    text-rendering: optimizelegibility;
}

hr {
	margin: 5px 0 !important;
	border-top: 1px solid #ddd !important;
	border-bottom: 1px solid white;
}


.icon-ok {
    color: #48b94a;
    font-size: 1.22em;
    font-weight: bold;
}

.icon-flag {
    color: #b94a48;
    font-size: 1.22em;
    font-weight: bold;
}

.highlight {
    background-color: #ffe706;
}

#progress {
    color: #333 !important;
    
}

.well {
    margin-top: 15px;
}

