/*-----------------------------
-----------style.css-----------
---------for Amahi.net---------
-------------------------------
---by Al Jachimiak @M3nt_al ---
------------------------------*/

/*------------------------------------------------------
-- Colors from the Amahi logo
------------------------------------------------------*/
/*---colors---
.color1 { color: #000000} black
.color2 { color: #f6d90e} yellow
.color3 { color: #00a5e5} blue
.color4 { color: #ffffff} white
.color5 { color: #fde059} pale yellow
.color6 { color: #01a6e6} maroon
.color7 { color: #ec5a56} salmon
.color8 { color: #682960} purple
.color9 { color: #fefefe} grey
.color10 { color: #ac1420} brown
*/

/*------------------------------------------------------
-- Fonts
------------------------------------------------------*/
/*     font-family: 'Open Sans', sans-serif;*/



/*------------------------------------------------------
-- Navbar
------------------------------------------------------*/
@media (max-width: 979px){
	.navbar-fixed-top {
	    margin-bottom: 0px;
	}
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

a.btn.btn-navbar {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}



/*------------------------------------------------------
-- Content
------------------------------------------------------*/
#site-title{
    margin-top: 30px;
}


@media (max-width: 767px) { 

	.logo{
	    margin-left: 20px;
	}

}

.lowered {
    padding-top: 20px;
}


.hero-unit {
  padding: 0px 30px 30px 30px;
  margin-top: -10px;
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;

  border-left: 1px solid #f5f5f5;
}

.acdn-p {
    margin-bottom: 0px;
    font-style: italic;
    text-decoration:none;
}



a.accordian-toggle:hover {
    text-decoration:none !important;
}

.accordian-group {
/*changed in bootstrap.css*/
}


/*------------------------------------------------------
-- Sidebar
------------------------------------------------------*/

.active{
    color: #fff !important;
    background-color: #00a5e5;
}

.nav > li > a:hover {
    /*background-color:#00b6f6 !important;*/
    color: #333;
}

.nav > li > a:hover {
    /*background-color:#00b6f6 !important;*/
    color: #333;
}

.new-side-nav li {
    background-color: #00c7f7;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
    margin-bottom: 5px;
}

.new-side-nav li a {
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-left:30px !important;

}

.nav-tabs.nav-stacked > li > a {
  border: 0px solid #ddd;
}

.nav-tabs.nav-stacked > li:last-child > a {
   -webkit-border-bottom-right-radius: 0px;
           border-bottom-right-radius: 0px;
   -webkit-border-bottom-left-radius: 0px;
           border-bottom-left-radius: 0px;
      -moz-border-radius-bottomright: 0px;
      -moz-border-radius-bottomleft: 0px;
}

.nav-tabs.nav-stacked > li:first-child > a {
   -webkit-border-top-right-radius: 0px;
           border-top-right-radius: 0px;
   -webkit-border-top-left-radius: 0px;
           border-top-left-radius: 0px;
      -moz-border-radius-topright: 0px;
      -moz-border-radius-topleft: 0px;
}

/*------------------------------------------------------
-- Footer
------------------------------------------------------*/

footer {
    color: #aaa;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	#foot-nav li{
	list-style-type: none !important;
	display: block !important;
	margin:0;
	padding:.5em;
	}

	.first {
	text-align: left;
	}

	.last {
	text-align: left;
	}
	ul.nav.nav-pills li{
	display: block !important;
	font-size: 1.6em;
	text-align: left;
	margin-bottom: 10px;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px){

	#foot-nav li{
	list-style-type: none !important;
	display: inline !important;
	margin:0;
	padding:.5em;
	}


	ul.nav.nav-pills li{
	position: relative;
	top: 5px;
	}

	.first {
	text-align: left;
	padding: 8px 0 8px 0;
	margin: 2px 0 2px 0;
	}

	.last {
	float: right;
	padding: 8px 0 8px 0;
	margin: 2px 0 2px 0;
	text-align: right;
	}

}


