{% include header.html %}

{% include heroImage.html %}

{{ content }}

    <div class="row-fluid hidden-phone">
       <div class="span6">
       	<a class = "btn btn-success btn-primary" href="#" id="why" rel="popover" data-html="true" data-placement="right" data-content=" <button class='btn btn-warning pull-right popover-dismiss' data-toggle='button' data-dismiss='popover' rel='popover' onclick='$(&quot;#why&quot;).popover(&quot;hide&quot;);' ><i class='icon-remove'></i></button>
            <h4 style='color:white; font-weight:700'>Why am I here?</h4><p>The web page you are currently viewing is not on your Amahi HDA.  This page is on the internet.  Head over to the <a class='pop-link' href='quick-fixes.html'>quick fixes page</a> to learn how to make the adjustments needed in your network so you can access your HDA dashboard.</p>">Why am <br>I here?</a>
       </div>	
        <br class="visible-tablet">
       <div class="span6">
		<a href="#" class="btn  btn-success btn-primary" id="where" rel="popover" data-placement="left" data-content="<button class='btn btn-warning pull-right popover-dismiss' data-toggle='button' data-dismiss='popover' rel='popover' onclick='$(&quot;#where&quot;).popover(&quot;hide&quot;);' ><i class='icon-remove'></i></button>
            <h4 style='color:white; font-weight:700'>Where is my HDA Dashboard?</h4><p>If another device (usually your router) is handling DNS and DHCP, your HDA will not work as advertised.</p>
  <p>To ensure that all client(s) use your HDA for DNS, the simplest way is to <a class='pop-link' href='http://wiki.amahi.org/index.php/Turning_off_DHCP_in_your_router' title='Turning off DHCP in your router'>disable DHCP</a> in your router and reboot your clients.<p>" >Where is my HDA Dashboard?</a>
       </div>
    </div>


    </div><!-- /span6 -->
  </div><!-- /hero -->        
</div><!--/row-->

{% include footer.html %}
